.container{
  background-color: var(--clr-neutral-600);
  display: grid;
  max-width: 25rem;
  min-height: 43rem;
  padding: 1.875rem;
  border-radius: 5%;
}

.label-1{
  display: block;
  margin-bottom: 0.3125rem;
}

.label-2{
  display: block;
  margin-bottom: 0.625rem;
}

.label-3{
  
}

.input-1{
  margin-bottom: 1.5625rem;
  background-image: url(/images/icon-dollar.svg);

}
.input-2{
  min-width: 6.875rem;
  min-height: 1.875rem;
  background-color: var(--clr-neutral-500);
  border: none;
  color: var(--clr-neutral-200);
  font-weight: 700;
  font-size: 20px;
}

.input-3{
  margin-top: 0.3125rem;
  margin-bottom: 1.75rem;
  background-image: url(/images/icon-person.svg);

}

.common-input-styles{
  height: 8%;
  width: 100%;
  background-color: var(--clr-neutral-500);
  border: 0;
  border-radius: 5%;
  background-repeat: no-repeat;
  background-position: center left 1.0625rem;
}

.div-results{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--clr-neutral-100);
  padding: 1.25rem;
  gap: 0.625rem;
  border-radius: 4%;
}

.div-results-amount{
  align-self: end;
  justify-self: end;
}

.reset-button{
  grid-column: 1 / 3;
  padding: 0.625rem 0rem;
  background-color: var(--clr-primary-100);
  border: none;
  border-radius: 3%;
  color: var(--clr-neutral-100);
  font-weight: 600;
}

.common-span-styles{
  color: var(--clr-primary-100);
    font-size: 2rem;
}
