body{
  font-family: var(--ff-primary);
  background-color:var(--clr-neutral-400);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-buttons-container{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 0.8125rem;
  margin-bottom: 1.875rem;
}

.grid-buttons-container button{
  font-size: 1.25rem;
  min-width: 6.875rem;
  min-height: 1.875rem;
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-600);
  border: none;
  padding: 0.5rem 0rem;
  border-radius: 0.3125rem;
}

.grid-buttons-container button:focus{
  font-weight: 700;
  background-color: var(--clr-primary-100);
  color: var(--clr-neutral-100);
}

.grid-buttons-container button:hover{
  font-weight: 700;
  background-color: var(--hover);
  color: var(--clr-neutral-100);
}

.common-label-styles{
  color: var(--clr-neutral-200);
  font-weight: 600;
}

.span-1-styles{
  color: var(--clr-neutral-600);
  display: block;
}

.span-2-styles{
  color: var(--clr-neutral-300);
  font-size: 0.857rem;
}

.img-styles{
  width: 1.2rem;
  height: auto;
}

.common-input-styles{
  height: 10%;
  width: 100%;
  background-color: var(--clr-neutral-500);
  border: 0;
  border-radius: 0.3125rem;
  background-repeat: no-repeat;
  background-position: center left 1.0625rem;
  font-weight: 700;
  font-size: 2rem;
  color: var(--clr-neutral-200);
}

input:focus {
  outline: none;
  border: 3px solid var(--clr-primary-100);
}

.common-span-styles{
  color: var(--clr-primary-100);
  font-size: 2.5rem;
  font-weight: 700;
}