html{
  font-size: 62.5%;
}
body{
  background-color: var(--very-dark-blue);
  font-family: var(--ff-primary);
}

.container{
  width: 88%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
}


