:root{
  --Very-Dark-Magenta-color: hsl(300, 43%, 22%);
  --Soft-Pink-color: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta-color: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta-color: hsl(300, 24%, 96%);
  --White-color: hsl(0, 0%, 100%);
  --Spartan-font-family: 'Spartan', sans-serif;
}

body{
  display: flex;
  height: 97vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--Spartan-font-family);
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  width: 800px;
  height: 500px;
  border: 2px solid blue;
}
.grid-item-1 h1{
  color: var(--Very-Dark-Magenta-color);
}

.common-display{
  display: block;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
}